@page "/orders"

<h3>ShowAllOrders</h3>

@if (Orders == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Password</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Orders)
            {
            <tr>
                <td>
                    @order.OrderId

                </td>
                <td>
                    @order.Password
                </td>
                <td>
                    <a href="@($"order/{order.OrderId}")" class="btn btn-primary table-btn">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
                <td>
                    <a href="@($"orderedit/{order.OrderId}")" class="btn btn-primary table-btn">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                
            </tr>

             }
        </tbody>
    </table>
}
